$light: #e8e8e8;
$mid-color: #a0a1a4;
$dark: #000000;

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        li {
            margin: 0 30px;

            a {
                padding-bottom: 3px;
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 800;
                color: $dark;

                &:hover {
                    border-bottom: 5px solid $mid-color;
                }
            }
        }
    }

    button {
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

main {
    #intro {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            width: 500px;
        }

        div {
            margin-left: 20px;
            font-size: 2rem;
        }
    }

    #about {
        margin: 100px auto;
        width: 60vw;

        h1 {
            text-align: center;
        }

        p {
            margin: 20px;
            font-size: 1.25rem;
            text-align: justify;
            line-height: 1.75rem;
        }

        a {
            display: block;
            margin: 0 20px 0 auto;
            padding: 10px 20px;
            width: fit-content;
            font-weight: 700;
            text-decoration: none;
            color: $dark;
            background: $light;

            &:hover {
                color: $light;
                background: $dark;
            }
        }
    }

    #projects {
        margin: 100px 0;

        h1 {
            text-align: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;

            li {
                margin: 40px;
                flex: 0 0 300px;
                background: white;

                img {
                    width: 300px;
                }

                h3 {
                    margin: 10px 20px;
                    color: $dark;
                }

                p {
                    margin: 10px 20px;
                    color: $mid-color;
                }

                a {
                    display: inline-block;
                    margin: 10px 20px;
                    border-radius: 40px;
                    border: solid white;
                    padding: 5px 10px;
                    text-decoration: none;
                    color: $mid-color;

                    &:hover {
                        animation: animate 2s infinite linear;
                    }
                }
            }
        }
    }

    #contact {
        padding: 50px;
        text-align: center;
        color: $dark;
        background: $mid-color;

        a {
            display: inline-block;
            margin: 30px 20px;
            border-radius: 50%;
            padding: 10px;
            text-decoration: none;
            color: $dark;
            background: $light;

            &:hover {
                color: $light;
                background: $dark;
            }
        }
    }
}

footer {
    padding: 30px;
    text-align: center;
    background: $mid-color;
}

@keyframes animate {
    0% {
        border-bottom: solid;
    }

    12% {
        border-bottom: solid;
        border-left: solid;
    }

    25% {
        border-left: solid;
    }

    37% {
        border-left: solid;
        border-top: solid;
    }

    50% {
        border-top: solid;
    }

    62% {
        border-top: solid;
        border-right: solid;
    }

    75% {
        border-right: solid;
    }

    87% {
        border-right: solid;
        border-bottom: solid;
    }
}